<ion-view title="Available Stock" id="page1" style="background-color:#E1F5FE;" class="download available-stock">
	<ion-subheader-bar class="bar bar-subheader">
		<div class="row">
			<div class="col col-50">CURRENT</div>
			<div class="col col-50">FOURTHCOMING</div>
		</div>
	</ion-subheader-bar>
	<ion-content padding="false" class="has-header" scroll="true" style="top:74px;">
		<div class="container" ng-repeat="item in ItemGroup">
			<div class="row title"><div class="col">Item Group: {{item.Item_group}}</div></div>
			
			<div class="row contents">
			<div class="col col-50 left" ><div class="row" ng-repeat="stock in stocks" ><span ng-if="stock.Item_group == item.Item_group && stock.Stock_type=='Current Stock'">{{stock.Item_descr}}</span></div></div>
			<div class="col col-50 right"><div class="row" ng-repeat="stock in stocks" ><span ng-if="stock.Item_group == item.Item_group && stock.Stock_type=='Forth-COMING Stock'">{{stock.Item_descr}}</span></div></div>
			</div>
		</div>
	</ion-content>
</ion-view>