<ion-view title="Contact Us" id="page1" style="background-color:#E1F5FE;">
	<ion-content padding="true" class="has-header" scroll="true" >
		<div class="list card">
		  <div class="item item-divider">
		    Cotton (Bales)
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-person"></i>
		    Shrikant Joshi
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-iphone"></i>
		    +91 9370258650
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-email"></i>
		    sjoshi@gimatex.co.in
		  </div>
		</div>

		<div class="list card">
		  <div class="item item-divider">
		    Yarn
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-person"></i>
		    Nimish Parekh [Cotton]
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-iphone"></i>
		    +91 9821213511
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-email"></i>
		    nimish@gimatex.co.in
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-person"></i>
		    Girish Kochar [Synthetic & Blends]
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-iphone"></i>
		    +91 9326810003
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-email"></i>
		    gkochar@gimatex.co.in
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-person"></i>
		    C. L. Pareek [Mumbai & Gujrat]
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-iphone"></i>
		    +91 9322284359
		  </div>
		  <div class="item item-icon-left">
		    <i class="icon ion-ios-email"></i>
		    pareek@gimatex.co.in
		  </div>
		</div>
	</ion-content>
</ion-view>